# Port
PORT=8080

# Mongo connection string
MONGO_URI=mongodb://localhost:27017/En-Passant

# Clerk
CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key
CLERK_SECRET_KEY=your_clerk_secret_key

# Redis creds (ensure TCP url)
UPSTASH_REDIS_REST_URL=your_upstash_redis_rest_url

# Cloudinary credentials
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Razorpay api keys (test keys currently)
RAZORPAY_KEY_ID=your_razorpay_api_key_id
RAZORPAY_KEY_SECRET=your_razorpay_api_key_secret