# Port
PORT=8080

# Mongo connection string
MONGO_URI=mongodb://localhost:27017/En-Passant

# Clerk
CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key
CLERK_SECRET_KEY=your_clerk_secret_key
CLERK_WEBHOOK_SECRET=your_clerk_webhook_secret

# Redis credentials (Local Docker)
REDIS_URL=redis://localhost:6379

# Cloudinary credentials
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Razorpay api keys (test keys currently)
RAZORPAY_KEY_ID=your_razorpay_api_key_id
RAZORPAY_KEY_SECRET=your_razorpay_api_key_secret
RAZORPAY_WEBHOOK_SECRET=your_razorpay_webhook_secret

# Recruitment amount (in rupees)
RECRUITMENT_AMOUNT=your_recruitment_amount

# Resend API Keys
RESEND_API_KEY=your_resend_api_key_here
RESEND_FROM_EMAIL=your_verified_sender@example.com

# Google Cloud Keys
GOOGLE_SERVICE_ACCOUNT_EMAIL=your_google_service_account_email
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nyour_private_key_here\n-----END PRIVATE KEY-----\n"

# Google Sheets IDs
GOOGLE_SPREADSHEET_ID_PAYMENTS=your_spreadsheet_id_payments
GOOGLE_SPREADSHEET_ID_APPLICATIONS=your_spreadsheet_id_applications